{:blocks (
{:block/created-at 1749778729066
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [320 160]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "When lying supine, effect\nof gravity on the circulatory\nsystem is removed"
:id "f7bcfc50-47f6-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill false
:point [160 320]
:fontSize 20
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749778649759
:italic false}}
:block/updated-at 1749778729066} 
{:block/created-at 1749778844996
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 1
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [320 160]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "This causes an increase in \nvenous return from the \nextremities to the heart\nand ultimately increase in\npulmonary venous pressure"
:id "2eb937f0-47f7-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill false
:point [580 320]
:fontSize 20
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749778741618
:italic false}}
:block/updated-at 1749778844996} 
{:block/created-at 1749778741534
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "2eb95f00-47f7-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill true
:point [481 400]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "2eb95f01-47f7-11f0-8ca3-976a5cc2958e"}
:end 
{:id "end"
:canBind true
:point [95 0]
:bindingId "2eb95f02-47f7-11f0-8ca3-976a5cc2958e"}}
:decorations 
{:end "arrow"}
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749778741489
:italic false}}
:block/updated-at 1749778741534} 
{:block/created-at 1749778914621
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 3
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [320 160]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "In a normal healthy heart,\nthe left ventricle handles \nthis increase in pulmonary\nvenous pressure"
:id "7f3a3260-47f7-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill false
:point [580 580]
:fontSize 20
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749778876653
:italic false}}
:block/updated-at 1749778914621} 
{:block/created-at 1749778876612
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "7f3a5970-47f7-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill true
:point [740 481]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "7f3a5971-47f7-11f0-8ca3-976a5cc2958e"}
:end 
{:id "end"
:canBind true
:point [0 95]
:bindingId "7f3a5972-47f7-11f0-8ca3-976a5cc2958e"}}
:decorations 
{:end "arrow"}
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749778876552
:italic false}}
:block/updated-at 1749778876612} 
{:block/created-at 1749779006265
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 5
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [320 160]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "In left sided heart failure,\nthe weakened heart cannot\nproperly pump out blood\nresulting in backlog of blood\nand pulmonary hypertension"
:id "a57221e0-47f7-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill false
:point [1000 320]
:fontSize 20
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749778940813
:italic false}}
:block/updated-at 1749779006265} 
{:block/created-at 1749778940725
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 6
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "a57221e1-47f7-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill true
:point [901 400]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "a57221e2-47f7-11f0-8ca3-976a5cc2958e"}
:end 
{:id "end"
:canBind true
:point [95 0]
:bindingId "a57248f0-47f7-11f0-8ca3-976a5cc2958e"}}
:decorations 
{:end "arrow"}
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749778940672
:italic false}}
:block/updated-at 1749778940725} 
{:block/created-at 1749779137075
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 7
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [320 160]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Pulmonary hypertension causes\nsequestration of fluid into the\npulmonary interstitial space\nand eventually into the \nalveoli causing pulmonary \nedema  "
:id "df6d6cb0-47f7-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill false
:point [1420 320]
:fontSize 20
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749779038117
:italic false}}
:block/updated-at 1749779137075} 
{:block/created-at 1749779037992
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 8
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "df6d6cb1-47f7-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill true
:point [1321 400]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "df6d6cb2-47f7-11f0-8ca3-976a5cc2958e"}
:end 
{:id "end"
:canBind true
:point [95 0]
:bindingId "df6d6cb3-47f7-11f0-8ca3-976a5cc2958e"}}
:decorations 
{:end "arrow"}
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749779037949
:italic false}}
:block/updated-at 1749779037992} 
{:block/created-at 1749779172707
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 10
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "2fb72a80-47f8-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill true
:point [1741 400]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "2fb72a81-47f8-11f0-8ca3-976a5cc2958e"}
:end 
{:id "end"
:canBind true
:point [95 0]
:bindingId "2fb72a82-47f8-11f0-8ca3-976a5cc2958e"}}
:decorations 
{:end "arrow"}
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749779172649
:italic false}}
:block/updated-at 1749779172707} 
{:block/created-at 1749779257521
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 9
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [320 160]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "This reduces lung compliance\nand oxygen, CO_2 exchange\nacross the alveolar capillary\nmembrane"
:id "2fb70370-47f8-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill false
:point [1840 320]
:fontSize 20
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749779172752
:italic false}}
:block/updated-at 1749779257521} 
{:block/created-at 1749779347137
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 11
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [320 160]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "This sends signals to the\nrespiratory center in the brain\nto increase the rate of respiration\n"
:id "7f82deb0-47f8-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill false
:point [2260 320]
:fontSize 20
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749779306633
:italic false}}
:block/updated-at 1749779347137} 
{:block/created-at 1749779306578
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 12
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "7f8305c0-47f8-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill true
:point [2161 400]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "7f8305c1-47f8-11f0-8ca3-976a5cc2958e"}
:end 
{:id "end"
:canBind true
:point [95 0]
:bindingId "7f8305c2-47f8-11f0-8ca3-976a5cc2958e"}}
:decorations 
{:end "arrow"}
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749779306525
:italic false}}
:block/updated-at 1749779306578})
:pages (
{:block/uuid #uuid "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:name "mode of action of left sided heart failure in causing orthopnea"
:bindings 
{:a57248f0-47f7-11f0-8ca3-976a5cc2958e 
{:id "a57248f0-47f7-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "a57221e1-47f7-11f0-8ca3-976a5cc2958e"
:toId "a57221e0-47f7-11f0-8ca3-976a5cc2958e"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:2fb72a82-47f8-11f0-8ca3-976a5cc2958e 
{:id "2fb72a82-47f8-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "2fb72a80-47f8-11f0-8ca3-976a5cc2958e"
:toId "2fb70370-47f8-11f0-8ca3-976a5cc2958e"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:7f8305c2-47f8-11f0-8ca3-976a5cc2958e 
{:id "7f8305c2-47f8-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "7f8305c0-47f8-11f0-8ca3-976a5cc2958e"
:toId "7f82deb0-47f8-11f0-8ca3-976a5cc2958e"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:2fb72a81-47f8-11f0-8ca3-976a5cc2958e 
{:id "2fb72a81-47f8-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "2fb72a80-47f8-11f0-8ca3-976a5cc2958e"
:toId "df6d6cb0-47f7-11f0-8ca3-976a5cc2958e"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:df6d6cb2-47f7-11f0-8ca3-976a5cc2958e 
{:id "df6d6cb2-47f7-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "df6d6cb1-47f7-11f0-8ca3-976a5cc2958e"
:toId "a57221e0-47f7-11f0-8ca3-976a5cc2958e"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:a57221e2-47f7-11f0-8ca3-976a5cc2958e 
{:id "a57221e2-47f7-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "a57221e1-47f7-11f0-8ca3-976a5cc2958e"
:toId "2eb937f0-47f7-11f0-8ca3-976a5cc2958e"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:7f3a5971-47f7-11f0-8ca3-976a5cc2958e 
{:id "7f3a5971-47f7-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "7f3a5970-47f7-11f0-8ca3-976a5cc2958e"
:toId "2eb937f0-47f7-11f0-8ca3-976a5cc2958e"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:7f8305c1-47f8-11f0-8ca3-976a5cc2958e 
{:id "7f8305c1-47f8-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "7f8305c0-47f8-11f0-8ca3-976a5cc2958e"
:toId "2fb70370-47f8-11f0-8ca3-976a5cc2958e"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:df6d6cb3-47f7-11f0-8ca3-976a5cc2958e 
{:id "df6d6cb3-47f7-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "df6d6cb1-47f7-11f0-8ca3-976a5cc2958e"
:toId "df6d6cb0-47f7-11f0-8ca3-976a5cc2958e"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:2eb95f01-47f7-11f0-8ca3-976a5cc2958e 
{:id "2eb95f01-47f7-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "2eb95f00-47f7-11f0-8ca3-976a5cc2958e"
:toId "f7bcfc50-47f6-11f0-8ca3-976a5cc2958e"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:2eb95f02-47f7-11f0-8ca3-976a5cc2958e 
{:id "2eb95f02-47f7-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "2eb95f00-47f7-11f0-8ca3-976a5cc2958e"
:toId "2eb937f0-47f7-11f0-8ca3-976a5cc2958e"
:handleId "end"
:point [0.5 0.5]
:distance 4}
:7f3a5972-47f7-11f0-8ca3-976a5cc2958e 
{:id "7f3a5972-47f7-11f0-8ca3-976a5cc2958e"
:type "line"
:fromId "7f3a5970-47f7-11f0-8ca3-976a5cc2958e"
:toId "7f3a3260-47f7-11f0-8ca3-976a5cc2958e"
:handleId "end"
:point [0.5 0.5]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("f7bcfc50-47f6-11f0-8ca3-976a5cc2958e" "2eb937f0-47f7-11f0-8ca3-976a5cc2958e" "2eb95f00-47f7-11f0-8ca3-976a5cc2958e" "7f3a3260-47f7-11f0-8ca3-976a5cc2958e" "7f3a5970-47f7-11f0-8ca3-976a5cc2958e" "a57221e0-47f7-11f0-8ca3-976a5cc2958e" "a57221e1-47f7-11f0-8ca3-976a5cc2958e" "df6d6cb0-47f7-11f0-8ca3-976a5cc2958e" "df6d6cb1-47f7-11f0-8ca3-976a5cc2958e" "2fb70370-47f8-11f0-8ca3-976a5cc2958e" "2fb72a80-47f8-11f0-8ca3-976a5cc2958e" "7f82deb0-47f8-11f0-8ca3-976a5cc2958e" "7f8305c0-47f8-11f0-8ca3-976a5cc2958e")}}
:block/updated-at 1749779347137
:block/created-at 1749777558969
:block/type "whiteboard"
:block/name "mode of action of left sided heart failure in causing orthopnea"
:block/original-name "Mode of action of Left sided heart failure in causing Orthopnea"})}