{:blocks (
{:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [256 224]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label ""
:id "f7bcfc50-47f6-11f0-8ca3-976a5cc2958e"
:fontWeight 400
:noFill false
:point [160 328]
:fontSize 20
:parentId "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:nonce 1749778649364
:italic false}}
:block/updated-at 1749778653858})
:pages (
{:block/uuid #uuid "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "684b7c96-b7a9-4bf9-9e38-b9240a416154"
:name "mode of action of left sided heart failure in causing orthopnea"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("f7bcfc50-47f6-11f0-8ca3-976a5cc2958e")}}
:block/updated-at 1749778653858
:block/created-at 1749777558969
:block/type "whiteboard"
:block/name "mode of action of left sided heart failure in causing orthopnea"
:block/original-name "Mode of action of Left sided heart failure in causing Orthopnea"})}